.hero {
  width: 100%;
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
  box-sizing: border-box;
}

.heroImage{
  width: 135px;
  margin: 0 auto;
  display: block;
}

.heroTitle{
  color: var(--heading-fg);
  font-family: 'Noto Sans',sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 2.4rem;
}

@media (prefers-color-scheme: dark){
  .heroTitle {
    background-image: linear-gradient(-95deg, #28a7ff, #7157ff, #c041ff, #f802a0);
    background-clip: text;
    color: transparent;
  }
}

.backToHome {
  max-width: 720px;
  margin: 3rem auto 0;
  padding-left: 2rem;
  padding-right: 2rem;
}
