.galleryRoot{
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background: var(--canvas-muted);
    
    .preview {
        position: relative;
        display: flex;
        gap: 20px;
        padding: 0 ;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;

        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
        }

        img {
            position: relative;
            width: 100%;
            // aspect-ratio: 16 / 9;
            height: 500px;
            object-fit: contain;
            scroll-snap-align: center;

        }
    }

    .shelf {
        position: absolute;
        bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .dots {
            gap: 10px;
            backdrop-filter: saturate(150%) blur(6px);
            background: rgba(0, 0, 0, 0.3);
            border-radius: 15px;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            height: 30px;
            transition: all .3s;
            opacity: 0.5;

            button {
                appearance: none;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: var(--article-content-date-fg);
                border: none;
                padding: 0;
                margin: 0;
                display: inline-block;
                transition: all .3s;

                &:hover {
                    background: var(--article-content-para-fg)
                }
            }
        }
    }
}

.galleryRoot:hover .dots {
    opacity: 1;

    button[data-active=true] {
        background: var(--primary-link-fg)
    }
}