@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import "./colorScheme";

*, :after, :before {
  box-sizing: inherit;
}

html {
  font-size: 18px;
  font-family: 'Open Sans',sans-serif;
  background: var(--canvas-default);
  color-scheme: normal;
  scrollbar-gutter: stable;
}

:focus{
  outline-color: var(--hover-outline-color);
  outline-offset: 0.3rem;
}

html,
body {
  padding: 0;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
	/*Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  /*line-height: 1.6;*/
  /*font-size: 18px;*/
  scroll-padding-top: 110px
}

main,
header{
  padding-left: 1rem;
  padding-right: 1rem;
  
  @media screen and ( min-width: 640px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

header + hr{
  width: calc(100% - 4rem);
}

hr{
  border: 0 solid transparent;
  border-bottom: 1px solid var(--canvas-default-border);
}

svg {
  display: inline-block;
  width: 1em;
}

a {
  color: var(--primary-link-fg);
  font-family: 'Open Sans',sans-serif;
  font-size: 16.5px;
  letter-spacing: 1px;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: var(--primary-link-hover-fg);
}

.container {
  max-width: 860px;
  margin: 0 auto;
}

.content img,
.content figure,
.wider-content{
  width: 100%;
  max-width: 860px;
  display: block;
  border-radius: 3px;
  
  margin: 2em auto;
  margin-block-start: 1em;
  margin-block-end: 1em;
  
  figcaption {
    text-align: center;
    font-size: 0.85em;
    color: var(--article-content-para-fg);
    opacity: 0.8;
    font-style: italic;
    margin-top: 0.5em;
  }
}

.content > figure,
.content > img{
  margin: 2em auto;
  img {
    margin: 0;
  }
}

.restrict > *:not(img):not(figure):not(.wider-content),
.content > *:not(img):not(figure):not(.wider-content){
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.content > span{
  display: block;
}

.content {
  p > code {
    background: var(--canvas-default-border);
    padding: 0 0.3em;
    border-radius: 3px;
    box-shadow: 0 0 0 1px var(--canvas-default-border);
  }
  
  abbr {
    text-underline-offset: 3px;
  }
  
  a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: var(--primary-link-fg);
  }
}

nav{
  width: 100%;
  z-index: 999;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  margin-bottom: 0.5rem;
  transition: all .3s;
  
  &[data-top=false]{
    background-color: rgba(255,255,255, 0.4);
    backdrop-filter: saturate(180%) blur( 20px );
    border-bottom: 1px solid var(--canvas-default-border);
  }
  
  @media (prefers-color-scheme: dark) {
    background-color: rgba(0, 0, 0, 0);
    //backdrop-filter: saturate(180%) blur( 20px );
  
    &[data-top=false]{
      background-color: rgba(0, 0, 0, 0.65);
    }
  }
}

nav > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 40rem;
  margin: 0 auto;
  padding: .82rem 1rem;
  
  @media screen and ( min-width: 640px) {
    padding: .82rem 2rem;
  }
}

nav > div > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav > div > ul > li{
  margin: 0;
  padding: 0;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > div > ul:nth-of-type(2) li {
  margin-left: 1.2rem;
}

nav > div > ul > li a {
  text-decoration: none;
  color: var(--nav-link-fg);
  max-height: 100%;
  position: relative;
  font-weight: 400;
  
  @media (prefers-color-scheme: light){
    text-shadow: 0 0 5px rgba(255,255,255, 0.4);
  }
}

nav > div > ul > li a:hover {
  text-decoration: none;
  color: var(--nav-link-hover-fg);
}

nav > div > ul > li > a > img{
  height: 50px;
  position: relative;
  display: block;
  will-change: transform;
  transition: transform .3s;
  transform: scale(0.8);
}

nav[data-top=false] > div > ul > li > a > img{
  transform: scale(1);
}

nav > div > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > div > ul > li > a > svg{
  height: 24px;
  width: 24px;
  font-size: inherit;
}

article.content h1{
  font-size: 2em;
  margin-bottom: 0.2em;
  color: var(--heading-fg);
}

article.content h3{
  color: var(--heading-fg);
  margin-top: 1.4em;
  font-size: 1.25em;
}

article.content h5{
  color: var(--heading-fg);
  margin-top: 1.2em;
  font-size: 1.12em;
  font-weight: 500;
}

article.content .datetime{
  color: var(--article-content-date-fg);
  font-size: .75rem;
  font-style: italic;
  margin-bottom: .84em;
  display: block;
}



.para,
article.content p {
  text-rendering: optimizeLegibility;
  color: var(--article-content-para-fg);
  font-family: 'Open Sans',sans-serif;
  font-size: 16.5px;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 1.6;
  
  @media (prefers-color-scheme: dark) {
    font-weight: 300;
  }
}

article.content > img{
  box-shadow:
          0 2.3px 1.9px rgba(0, 0, 0, 0.013),
          0 5.4px 4.3px rgba(0, 0, 0, 0.019),
          0 9.7px 7.7px rgba(0, 0, 0, 0.023),
          0 16.1px 12.8px rgba(0, 0, 0, 0.027),
          0 26.5px 21.2px rgba(0, 0, 0, 0.031),
          0 46.2px 37px rgba(0, 0, 0, 0.037),
          0 100px 80px rgba(0, 0, 0, 0.05);
}

article.content blockquote {
  padding: 0.25rem 1rem;
  box-sizing: border-box;
  font-size: 1.05em;
  font-weight: 200;
  border-left: 0.3rem solid var(--canvas-default-border);
  
  p {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
  }
}

