.paragraph{
  color: #3c535f;
  font-family: 'Open Sans',sans-serif;
  font-size: 16.5px;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 1.6;
}

.paragraphStruck {
  @extend .paragraph;
  text-decoration: line-through;
  color: rgba(#3c535f, 0.6);
}

.header{
  color: #546e7a;
}

.push{
  margin: 4.2rem auto;
  max-width: 720px;
}